<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Fehler 404</title>
        <link rel="shortcut icon" type="image/x-icon" href="img/3.png"/>
    </h:head>
    <h:body>
        <h1>Fehler 404</h1>
        Die angeforderte Ressource wurde nicht gefunden.
    </h:body>
</html>