<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <p:panel rendered="#{loginBean.notLoggedIn}">
                    <h3>Fehler, du bist nicht angemeldet!</h3>
                </p:panel>
                
                <p:panel id="panelGallery" header="Galerie" rendered="#{!loginBean.notLoggedIn}" styleClass="panel" >                    
                    <h:form acceptcharset="ISO-8859-1">
                        <p:outputLabel for="galleryName" value="Galeriename:"/>
                        <p:inputText id="galleryName" value="#{galleryBean.galleryName}" required="true"/>
                        <p:commandButton action="#{galleryBean.createGallery()}" value="Erstellen" ajax="false">
                            <f:param value="2" name="i"/>
                        </p:commandButton>
                    </h:form>                    
                    
                    <p:outputPanel rendered="#{galleryBean.galleries.isEmpty()}">
                        <br/>
                        Es wurden noch keine Galerien angelegt!
                    </p:outputPanel>

                    <ui:repeat var="gal" varStatus="status" value="#{galleryBean.galleries}" rendered="#{!galleryBean.galleries.isEmpty()}">
                        <p:outputPanel deferred="true" deferredMode="visible">
                            <br/>
                            <b>#{gal.name}</b>
                            <p:outputPanel rendered="#{gal.description != null and !gal.description.isEmpty()}">
                                <br/>
                                #{gal.description}
                            </p:outputPanel>
                            <br/>
                            <p:outputPanel rendered="#{galleryBean.galleryNumbers.get(gal.galleryId).isEmpty()}" >                            
                                In dieser Galerie befinden sich keine Bilder!
                                <br/><br/>
                            </p:outputPanel>
                            <br/>
                            <p:galleria var="i" value="#{galleryBean.galleryNumbers.get(gal.galleryId)}" panelWidth="800" panelHeight="600" showCaption="true" rendered="#{!galleryBean.galleryNumbers.get(gal.galleryId).isEmpty()}">
                                <p:graphicImage value="#{galleryBean.image}" cache="true" alt="#{galleryBean.getDescription(i)}" title="" styleClass="content" style="display: block; max-width: 800px; max-height: 600px; width: auto; height: auto; margin: auto">
                                    <f:param name="imageID" value="#{i}"/>
                                </p:graphicImage>
                            </p:galleria>

                            <h:form acceptcharset="ISO-8859-1">
                                <p:commandButton value="Optionen" icon="ui-icon-gear" actionListener="#{galleryConfigBean.viewConfig(gal.galleryId)}">
                                    <f:param name="galleryID" value="#{gal.galleryId}"/>
                                    <p:ajax event="dialogReturn" listener="#{galleryBean.dialogReturnListener}" />
                                </p:commandButton>
                                <p:commandButton icon="ui-icon-trash" value="Löschen" action="#{galleryBean.deleteGallery(gal.galleryId)}" ajax="false"/>
                                <p:button value="Zur Galerie" outcome="sgallery.xhtml?galleryID=#{gal.galleryId}" icon="ui-icon-link" target="_blank"/>
                            </h:form>    
                        </p:outputPanel>
                    </ui:repeat>

                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>