<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:panelGroup rendered="#{!loginBean.notLoggedIn}">
            <title>Galerie #{galleryConfigBean.galleryName}</title>
        </h:panelGroup>
        <h:panelGroup rendered="#{loginBean.notLoggedIn}">
            <title>Fehler</title>
        </h:panelGroup>
    </h:head>
    <h:body>
        <div class="ui-widget">
            <h:form acceptcharset="ISO-8859-1" rendered="#{loginBean.ownsGallery(galleryConfigBean.galleryId)}">
                Galeriename<br/>
                <p:inputText value="#{galleryConfigBean.galleryName}" style="width: 372px"/><br/>
                Beschreibung <br/>
                <p:inputTextarea value="#{galleryConfigBean.description}" rows="5" cols="41"/><br/>
                Status <br/>
                <span style="color: red; font-size: 0.7em">Bitte beachten: Durch veröffentlichen der Galerie werden gleichzeitig alle zugeordneten Bilder veröffentlicht!</span><br/>
                <p:selectOneRadio value="#{galleryConfigBean.status}">
                    <f:selectItem itemValue="#{galleryConfigBean.statusPrivate}" itemLabel="Privat"/>
                    <f:selectItem itemValue="#{galleryConfigBean.statusPublic}" itemLabel="Öffentlich"/>
                </p:selectOneRadio><br/>

                <p:commandButton value="Speichern" action="#{galleryConfigBean.save()}">
                    <f:param name="galleryID" value="#{galleryConfigBean.galleryId}"/>
                </p:commandButton>
            </h:form>
            <p:panel rendered="#{!loginBean.ownsGallery(galleryConfigBean.galleryId)}">
                Du bist nicht der Besitzer dieser Galerie!
            </p:panel>
        </div>
    </h:body>
</html>

