<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <!--<h:body>-->
        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <h1>Willkommen bei</h1>                    
                <br/>               
                <p:graphicImage library="img" value="img/2.png"/>
                <br/>
                <p:outputLabel rendered="#{loginBean.notLoggedIn}">
                    Du bist noch nicht registriert?
                    Dann registriere dich sofort kostenlos! 
                    <p:button href="register.xhtml" value="Registrieren"/>
                </p:outputLabel>
            </ui:define>
        </ui:composition>
    <!--</h:body>-->
</html>
