<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!--<h:body>-->
        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <p:panel rendered="#{loginBean.notLoggedIn}">
                    <h3>Fehler, du bist nicht angemeldet!</h3>
                </p:panel>  
                
                <p:panel rendered="#{!loginBean.notLoggedIn}" header="Meine Bilder">
                    <!--                Bilder              -->
                    <ul class="gallery">
                        <p:outputPanel rendered="#{imageBean.imageNumbers.isEmpty()}">
                            Es wurde noch keine Bilder hochgeladen!
                        </p:outputPanel>
                        <ui:repeat var="i" value="#{imageBean.imageNumbers}" rendered="#{!imageBean.imageNumbers.isEmpty()}">
                            <li>  
                                <p:outputPanel deferred="true" deferredMode="visible">
                                    <h:form acceptcharset="ISO-8859-1">
                                        <a href="#{imageBean.getLink(i)}" target="_blank">
                                            <p:graphicImage value="#{imageBean.thumbnail}" cache="true" styleClass="content">
                                                <f:param name="imageID" value="#{i}"/>
                                            </p:graphicImage>
                                        </a>
                                        <p:commandButton value="Optionen" actionListener="#{imageConfigBean.viewConfig(i)}">
                                            <f:param name="imageID" value="#{i}"/>
                                        </p:commandButton>
                                        <p:commandButton value="Löschen" action="#{imageBean.deleteImage(i)}" ajax="false"/>
                                    </h:form>
                                </p:outputPanel>
                            </li>
                        </ui:repeat>
                    </ul>
                </p:panel>
            </ui:define>
        </ui:composition>
    <!--</h:body>-->
</html>
