<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>        
        <h:panelGroup rendered="#{!loginBean.notLoggedIn}">
            <title>Bild ##{imageConfigBean.imageId}</title>
        </h:panelGroup>
        <h:panelGroup rendered="#{loginBean.notLoggedIn}">
            <title>Fehler</title>
        </h:panelGroup>
    </h:head>
    <h:body>
        <div class="ui-widget">
            <h:form acceptcharset="ISO-8859-1" rendered="#{loginBean.ownsPicture(imageConfigBean.picture.pictureId.toString())}">
                Beschreibung <br/>
                <p:inputTextarea value="#{imageConfigBean.description}" rows="5" cols="41"/><br/>
                Status <br/>
                <span style="color: red; font-size: 0.7em">Bitte beachten: Bilder, die Teil einer öffentlichen Galerie sind, können nicht auf privat umgestellt werden!</span><br/>
                <p:selectOneRadio value="#{imageConfigBean.status}">
                    <f:selectItem itemValue="#{imageConfigBean.statusPrivate}" itemLabel="Privat"/>
                    <f:selectItem itemValue="#{imageConfigBean.statusPublic}" itemLabel="Öffentlich"/>
                </p:selectOneRadio><br/>
                Galerie<br/>
                <p:selectOneMenu value="#{imageConfigBean.gallery}" style="width: 372px">
                    <f:selectItem itemValue="0" itemLabel=""/>
                    <f:selectItems var="gal" value="#{imageConfigBean.galleries}" itemDescription="#{gal.description}" itemValue="#{gal.galleryId}" itemLabel="#{gal.name}"/>
                </p:selectOneMenu><br/>
                Position in der Galerie:<br/>
                <p:inputText value="#{imageConfigBean.nr}" type="number" /><br/>
                <p:commandButton value="Speichern" action="#{imageConfigBean.save()}">
                    <f:param name="imageID" value="#{imageConfigBean.imageId}"/>
                </p:commandButton>
            </h:form>
            <p:panel rendered="#{!loginBean.ownsPicture(imageConfigBean.picture.pictureId.toString())}">
                Du bist nicht der Besitzer dieses Bildes!
            </p:panel>
        </div>
    </h:body>
</html>

