<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <p:panel rendered="#{loginBean.notLoggedIn}">
                    <h3>Fehler, du bist nicht angemeldet!</h3>
                </p:panel>  

                <h:form acceptcharset="ISO-8859-1">
                    <p:panel id="panelPW" header="Passwort ändern" rendered="#{!loginBean.notLoggedIn}" styleClass="panel" >
                        <p:growl id="profileFail" showDetail="true"/>
                        <h:panelGrid columns="2" cellpadding="5" cellspacing="5" >
                            <h:outputLabel for="oldPassword" value="altes Passwort:" style="font-weight:bold" />
                            <p:password id="oldPassword" label="altes Passwort" required="true" value="#{profilBean.oldPass}" >
                                <f:validateLength minimum="4" />
                            </p:password>
                            <h:outputLabel for="newPassword" value="neues Passwort:" style="font-weight:bold" />
                            <p:password id="newPassword" label="neues Passwort" required="true" value="#{profilBean.newPass}" >
                                <f:validateLength minimum="4" />
                            </p:password>
                            <h:outputLabel for="newPasswordCheck" value="neues Passwort:" style="font-weight:bold" />
                            <p:password id="newPasswordCheck" placeholder="Passwortüberprüfung" label="neues PasswortCheck" required="true" value="#{profilBean.newPassCheck}" >
                                <f:validateLength minimum="4" />
                            </p:password>
                            <p:commandButton value="Passwort ändern" action="#{profilBean.changePasswordAction()}" ajax="false" update="profileFail"/>
                        </h:panelGrid>
                    </p:panel>            
                </h:form>
                <br />
                <h:form acceptcharset="ISO-8859-1">
                    <p:panel id="panelEmail" header="E-Mail ändern" rendered="#{!loginBean.notLoggedIn}" styleClass="panel" >
                        <p:growl id="emailFail" showDetail="true"/>
                        <h:panelGrid columns="2" cellpadding="5" cellspacing="5" >
                            <h:outputLabel for="oldPassword" value="Passwort:" style="font-weight:bold" />
                            <p:password id="oldPassword" label="altes Passwort" required="true" value="#{profilBean.oldPass}" >
                                <f:validateLength minimum="4" />
                            </p:password>

                            <h:outputLabel for="newMail" value="neue E-Mail:" style="font-weight:bold" />
                            <p:inputText id="newMail" label="neue E-Mail" required="true" value="#{profilBean.newEmail}" >
                                <f:validateLength minimum="4" />
                            </p:inputText>

                            <h:outputLabel for="newMailCheck" value="neue E-Mail:" style="font-weight:bold" />
                            <p:inputText id="newMailCheck" placeholder="Emailüberprüfung" label="neue E-MailCheck" required="true" value="#{profilBean.newEmailCheck}" >
                                <f:validateLength minimum="4" />
                            </p:inputText>

                            <p:commandButton value="E-Mail ändern" action="#{profilBean.changeEmailAction()}" ajax="false" update="emailFail"/>
                        </h:panelGrid>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

