<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <p:panel rendered="#{!loginBean.notLoggedIn}">
                    <h3>Fehler, du bist bereits registriert!</h3>
                </p:panel>  

                <h:form acceptcharset="ISO-8859-1" rendered="#{loginBean.notLoggedIn}">
                    <p:panel id="panel" header="Registrierung" styleClass="panel">
                        <p:growl id="regFail" showDetail="true"/>
                        <p:messages id="msgs" />
                        <h:panelGrid columns="2" cellpadding="5" cellspacing="5" >
                            <h:outputLabel for="name" value="Nutzername:" style="font-weight:bold" />
                            <p:inputText id="name" label="Nutzername" required="true" value="#{registerBean.usrName}" >
                                <f:validateLength minimum="4" />
                            </p:inputText>

                            <h:outputLabel for="email" value="E-Mail:" style="font-weight:bold" />
                            <p:inputText id="email" label="Emailadresse" required="true" value="#{registerBean.email}" />

                            <h:outputLabel for="password" value="Passwort:" style="font-weight:bold" />
                            <p:password id="password" label="Passwort" required="true" value="#{registerBean.pwd}" />

                            <h:outputLabel for="passwordCheck" value="Passwort wiederholen:" style="font-weight:bold" />
                            <p:password id="passwordCheck" label="Passwortcheck" required="true" value="#{registerBean.pwdCheck}" />

                            <p:commandButton value="Registrieren" action="#{registerBean.registerAction()}" ajax="false" update="panel"/>

                        </h:panelGrid>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
