<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <p:panel rendered="#{!sGalleryBean.canShow()}">
                    <h3>Diese Galerie existiert nicht oder du besitzt nicht die nötigen Rechte!</h3>
                </p:panel>
                
                <p:panel id="panelGallery" rendered="#{sGalleryBean.canShow()}" header="Galerie" styleClass="panel" >                    
                    <h3>#{sGalleryBean.galleryName}</h3>
                    
                    <p:outputPanel rendered="#{sGalleryBean.description != null and !sGalleryBean.description.isEmpty()}">
                        #{sGalleryBean.description}
                        <br/><br/>
                    </p:outputPanel>
 
                    <p:outputPanel rendered="#{sGalleryBean.galleryNumbers.isEmpty()}">
                        In dieser Galerie befinden sich keine Bilder!
                    </p:outputPanel>
                    
                    <p:galleria var="i" value="#{sGalleryBean.galleryNumbers}" panelWidth="800" panelHeight="600" showCaption="true" rendered="#{!sGalleryBean.galleryNumbers.isEmpty()}">
                        <p:graphicImage value="#{sGalleryBean.image}" alt="#{sGalleryBean.getImageDescription(i)}" title="" cache="true" styleClass="content" style="display: block; max-width: 800px; max-height: 600px; width: auto; height: auto; margin: auto">
                            <f:param name="imageID" value="#{i}"/>
                            <f:param name="galleryID" value="#{sGalleryBean.galleryId}"/>
                        </p:graphicImage>
                    </p:galleria>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>