/* 
    Created on : 16.06.2014, 12:24:09
    Author     : Marko Schulze
*/

body{
    background: #cccccc;
}
.ui-tabmenu-nav > li:last-child {
    float: right !important;
    position: relative !important;
    overflow: hidden;
}

.panel{
    margin-left: auto;
    margin-right: auto;
    width: 600px; 
    
}

.gallery li{
    list-style: none;
    width: 250px;
    height: 300px;
    display: inline-block;
    margin: 0 10px 10px 0;
    text-align: center;
}
    
.gallery img{
    width: 250px;
    height: 250px;
}

#panelGallery {
    width: 840px;
}