<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>iBucket</title>
        <link rel="stylesheet" href="style.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="img/3.png"/>
    </h:head>
    
    <h:body>
        <!--        Headmenu            -->
        <p:tabMenu activeIndex="#{param.i}">
            <p:menuitem value="Startseite" outcome="index">
                <a href="index.xhtml" style="padding: 0px; margin: 0px;">
                    <p:graphicImage library="img" height="36" value="img/1.png"/> 
                </a>
                <f:param name="i" value="0" />
            </p:menuitem>
            <p:menuitem value="Meine Bilder" outcome="pictures" rendered="#{!loginBean.notLoggedIn}">
                <f:param name="i" value="1" />
            </p:menuitem>
            <p:menuitem value="Meine Galerien" outcome="gallery" rendered="#{!loginBean.notLoggedIn}">
                <f:param name="i" value="2" />
            </p:menuitem>
            <p:menuitem value="Upload" outcome="upload" rendered="#{!loginBean.notLoggedIn}">
                <f:param name="i" value="3" />
            </p:menuitem>
            <p:menuitem>
                <h:form acceptcharset="ISO-8859-1" rendered="#{loginBean.notLoggedIn}">
                    <p:growl id="loginMSG" showDetail="true" />
                    <p:inputText placeholder="Nutzername" value="#{loginBean.logon}"/>
                    <p:password placeholder="Passwort" value="#{loginBean.password}"/>
                    <p:commandButton value="Login" action="#{loginBean.loginAction()}" ajax="false" update="loginMSG"/>
                </h:form>
                <h:form acceptcharset="ISO-8859-1" rendered="#{!loginBean.notLoggedIn}">
                    <f:param name="i" value="3" />
                    <p:link value="#{loginBean.logon}" outcome="profile">
                        <f:param name="i" value="4" />
                    </p:link>
                    <p:commandButton value="Logout" action="#{loginBean.logoutAction()}" ajax="false"/>
                </h:form>
            </p:menuitem>        
        </p:tabMenu>
        
        <!--         Content           -->
         <p:panel id="basic">
            <ui:insert name="content">
               ReplacedContent
            </ui:insert>
        </p:panel>
          
        <!--        Footer              -->
        <p:layoutUnit position="south">
            <div class="content">
                <p:link value="Impressum" outcome="impressum.xhtml">Impressum</p:link>
            </div>
        </p:layoutUnit>      
    </h:body>
</html>

