<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <p:panel rendered="#{loginBean.notLoggedIn}">
                    <h3>Fehler, du bist nicht angemeldet!</h3>
                </p:panel>
                
                <p:panel id="panelUpload" header="Bilder Upload" rendered="#{!loginBean.notLoggedIn}" styleClass="panel">
                    <h:form enctype="multipart/form-data">
                        <p:fileUpload multiple="true" sizeLimit="10485760" fileUploadListener="#{fileUploadBean.upload}" allowTypes="/(\.|\/)(gif|jpg|jpeg|png|PNG|GIF|JPG|JPEG)$/" label="Hinzufügen" uploadLabel="Upload" cancelLabel="Abbrechen" previewWidth="0"/>
                    </h:form>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

